games
docs
obj
build/obj
build/texture_*
build/shader_*
build/*.txt
*.user
*.suo
*.sdf
*.opensdf
*.opendb
*.ipch
debugger/bin
dump/
config.json
*.txt
!CMakeLists.txt
*.VC.db
*.ini
*.elf
*.rpx
*.o
!tests/hle/bin/*.rpx
