[submodule "libraries/zlib"]
	path = libraries/zlib
	url = https://github.com/madler/zlib.git
[submodule "libraries/pugixml"]
	path = libraries/pugixml
	url = https://github.com/zeux/pugixml.git
[submodule "libraries/asmjit"]
	path = libraries/asmjit
	url = https://github.com/kobalicek/asmjit.git
[submodule "libraries/docopt"]
	path = libraries/docopt
	url = https://github.com/docopt/docopt.cpp.git
[submodule "libraries/spdlog"]
	path = libraries/spdlog
	url = https://github.com/exjam/spdlog.git
[submodule "libraries/glbinding"]
	path = libraries/glbinding
	url = https://github.com/cginternals/glbinding.git
[submodule "libraries/cereal"]
	path = libraries/cereal
	url = https://github.com/USCiLab/cereal.git
[submodule "libraries/gsl"]
	path = libraries/gsl
	url = https://github.com/Microsoft/GSL.git
[submodule "libraries/ovsocket"]
	path = libraries/ovsocket
	url = https://github.com/exjam/ovsocket.git
